*{
	font-family: Montserrat;
	font-weight: 300;
}
h2{
	font-weight: ;
	width: 430px;
	background-color: black;
	color: white;
	padding: 10px;
	margin-bottom: 0px;
}
h5{
	line-height: 10px;
	margin-top: 10px;
	text-align: center;
}
#message{
	font-family: verdana;
	height: 15px;
	border: unset;
	transition: 0.2s;
	outline: none;
	width: 343px;
	margin-left: 10px;
	padding: 5px;
	border: solid 1px #555;
}
#message:focus{
	box-shadow: 0px 0px 10px #777;
}
#envoi_message{
	margin-left: 5px;
	cursor: pointer;
	height: 27px;
	padding: 0px;
	border: solid 1px #555;
	padding-left: 5px;
	padding-right: 5px;
	transition: 0.2s;
	outline: none;
}
#envoi_message:hover{
	box-shadow: 0px 0px 10px #777;
}
#envoi_message:active{
	background-color: white;
}
#canvas{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
#zone_chat strong{
	font-weight: 600;
}
#pieces{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
#pieces_prise{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#volet{
	width: 450px;
	background: #bcdcd9;
	color: black;
	padding: 0px;
}

#volet a.ouvrir, #volet a.fermer{
	padding: 10px 25px;
	background: #333;
	color: #bcdcd9;
	text-decoration: none;
	transition: 0.3s;
}
#volet a.ouvrir:hover, #volet a.fermer:hover{
	background: black;
}

#volet{
	position: absolute;
	margin: 0px;
	left: -500px;	/* test fixed + scroll, on retire la position top */
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
#volet a.ouvrir,
#volet a.fermer{
	position: absolute;
	right: -113px;
	top: 36px;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-moz-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
}
#volet a.fermer{
	display: none;
}
#volet:target{
	left: 10px;
}

/* code pour la fermeture */

#volet:target a.fermer{
	display: block;
}
#volet:target a.ouvrir{
	display: none;
}
#volet_clos:target #volet{
	left: -500px;
}

 /* test fixed + scroll */
#volet_clos{
	position: fixed; 
	top: 55px; left: 0;
}


#changer_pions{
	position: absolute;
	top: 30%;
	left: 80%;
	transform: translate(-50%,-50%);
	text-align: center;
}
#tiles{
	background-color: #fff0;
	position: absolute;
	display: flex;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 80px;
	padding-right: 80px;
}

.tile{
	width: 40px;
	height: 40px;
	transition: 0.2s;
	cursor: pointer;
}
.tile:hover{
	background-color: #ed500099; 
}
/*Pk pert-on la propriété hover apres la fonction deselctTiles ??*/
/*Solution : https://openclassrooms.com/forum/sujet/hover-et-javascript-19196*/
.tile:active{
	background-color: #ede60099;
}

#promotion{
	position: absolute;
	top:10%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
	visibility: hidden;
}

#affichage{
	position: absolute;
	top:80%;
	left:80%;
	transform:translate(-50%,-50%);
}

#zone_chat{
	margin-left: 10px;
	font-size: 14px;
	line-height: 10px;
}
p em{
	display: flex;
	width: 97%;
	border-bottom: solid 1px #dbecea;
	padding-bottom: 2px;
}

#image_pion img{
	cursor: pointer;
	transition: 0.2s;
	padding: 5px;
	border: solid 1px #eee;
	border-radius: 10px;
}
 #image_pion img:hover{
 	background-color: #ddd;
}
 #image_pion{
 	margin-top: -10px;
 	margin-left: 4px;
}

#zonetext{
 	font-family: courier;
 	border: unset;
 	background-color: #eee;
 	padding: 3px;
 	height: 160px;
 	resize: none;
}
#affichage{
	margin-left: 25px;
}