#ia {	
	position: relative;
	padding: 30% 0;
	float: left;
	width: 240px;
	background-color: white;
	text-align: center;
	margin-top: 15%;
	z-index: 5;
}

#multiplayer {
	position: relative;
	padding: 26% 0;
	float: right;
	background-color: white;
	text-align: center;
	margin-top: 15%;
	z-index: 5;
}

#dbl {
	max-width: 600px;
	margin: auto;
}

#search{
	text-align: center;
}

#spawner{
	position: relative;
  	animation-name: try;
  	animation-duration: 2s;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
  	z-index: 1;
}

body {
	background-color: black;
}


	@keyframes try {
  		0%   {top:0px;transform:rotate(0deg);}
  		40% {top:300px;transform:rotate(50deg);}
  		80%  {top:600px;transform:rotate(-50deg);}
  		100% {top:710px;transform: rotate(0deg);}
	}